
            body {
                background-color: #282832;
                padding-left:0px;
                padding-right:0px;
                margin-right:0px;
                margin-left: 0px;

            }
            
            .center {

               width: 65%;
                margin:auto;

            }
            

            .footer p{

                font-family: sans-serif;
                font-size: 8pt;
                color: #525266;

            }

            .smlcap{
                font-variant:small-caps;
                font-size: 10pt;
            }
            
            
            .vpos{
                position: absolute;
                width: 65%;
                top:32%;
            }
            
            
            .bottom{
                position: absolute;
                width: 65%;
                bottom:0%;  
            }

            
            .contact{
                
                padding-top: 10%;

            }
            
            .btn-default {
                background-color: #282832;
                color: #ffffff;
                border-radius: 25px;
                border: 2px solid #fa0082;
            }
            
            .btn-default:hover,
            .btn-default:focus,
            .btn-default:active    {
                background-color: #fa0082;
                color: #ffffff;
                border-color: #fa0082;
                
            }